:root {
    padding: 10 px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: lightpink;
    padding: 10px;
}

nav a {
    color: black;
    display: block;
    padding: 20px;
}

main {
    margin: 1rem;
    font-size: x-large;
}

h1 {
    color: hotpink;
}

main img {
    width: 200px;
    height: auto;
    border: 2px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

aside {
    background-color: lightpink;
    color: black;
    text-align: left;
    font-size: x-large;
    display: inline-block;
}

aside img {
    width: 200px;
    height: auto;
    position: relative;
    z-index: 1;
}

aside h2 {
    font-size: smaller;
    position: absolute;
    top: 69%;
    left: 50px;
    z-index: 2;
}

footer {
    margin-top: 10px;
    border-top: 1px dashed hotpink;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;

}