:root {
    padding: 10 px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    width: 840px;
    margin: 0 auto;
}


nav {
    background-color: lightpink;
    font-size: larger;
    font-weight: 700;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 260px 1fr;
    align-items: center;
}

main {
    margin: 1rem;
    font-size: x-large;
    grid-column: 2/3;
}

main p {
    padding-top: 10px;
}

h1 {
    color: hotpink;
    border-bottom: 2px solid hotpink;
    padding: 10px;
}

main img {
    width: 200px;
    height: auto;
    border: 2px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

aside {
    background-color: lightpink;
    color: black;
    text-align: left;
    font-size: x-large;
    display: inline-block;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
    position: relative;
}

aside h2 {
    font-size: smaller;
    position: absolute;
    top: 63.5%;
    left: 485px;
    z-index: 1;
}

footer {
    margin-top: 10px;
    border-top: 1px dashed hotpink;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;

}