* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: lightpink;
    padding: 10px;
}

nav a {
    color: black;
    display: block;
    padding: 20px;
}

main {
    margin: 1rem;
}

h1 {
    color: hotpink;
}

main img {
    width: 200px;
    height: auto;
    border: 2px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
    max-width: 700px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: lightpink;
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 1px dashed hotpink;
    text-align: center;
}